<ion-header>
    <ion-toolbar color="green2">
      <ion-title>
        Segunda Mano
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="buscar()">
          <ion-icon  name ="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor ="let mascota of mascotas" col-6>
        <ion-card (click)="verMascota(mascota)">
          <img *ngIf = "mascota.ad.hasOwnProperty('images')"
          src = "http://img.segundamano.mx/cover/{{mascota.ad.images[0].path}}" >
          
          <img *ngIf = "!mascota.ad.hasOwnProperty('images')" src= "../assets/pawprint.png" >
          <ion-card-header *ngIf= "mascota.ad.hasOwnProperty('subject')">
            {{mascota.ad.subject}}
          </ion-card-header>
          <ion-card-content>
            <p *ngIf ="mascota.ad.hasOwnProperty('list_price')" > {{mascota.ad.list_price.label}}</p>
            <p *ngIf = "mascota.ad.hasOwnProperty('locations')">{{mascota.ad.locations[0].locations[0].label}}, {{mascota.ad.locations[0].label}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
