<!--
  Generated template for the VideojuegosMostrarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{video.ad.subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-slides pager>
            <ion-slide *ngFor="let img of imgs">
              <img src= "http://img.segundamano.mx/medium/{{img.path}}">
            </ion-slide>
      
          </ion-slides>
      </ion-card>
    
      <ion-card>
        
        <ion-item>
          {{video.ad.subject}}
          <ion-icon  name="heart"item-end> </ion-icon>
          <ion-icon  name="heart" color ="danger" item-end > </ion-icon>
        </ion-item>
    
        <ion-item>
          <h2 *ngIf="video.ad.hasOwnProperty('list_price')">{{video.ad.list_price.label}} </h2>
          <ion-icon name="share" item-end> </ion-icon>
        </ion-item>
    
      </ion-card>
    
    
      <ion-card>
    
        <ion-item>
          <ion-avatar item-start>
            <img src="../assets/imgs/logo.png">
          </ion-avatar>
    
          <h2 *ngIf = "video.ad.hasOwnProperty('user')"> {{video.ad.user.account.name}}</h2>
          <p *ngIf = "video.ad.hasOwnProperty('user')"> {{video.ad.user.account.since}}</p>
        </ion-item>
    
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          Descripcion
        </ion-card-header>
    
        <ion-card-content>
          {{video.ad.body}}
        </ion-card-content>
      </ion-card>
    

</ion-content>
