<!--
  Generated template for the VideojuegosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Videojuegos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col *ngFor ="let video of videos" col-6>
            <ion-card (click)="verVideo(video)">
              <img *ngIf = "video.ad.hasOwnProperty('images')"
              src = "http://img.segundamano.mx/cover/{{video.ad.images[0].path}}" >

              <img *ngIf = "!video.ad.hasOwnProperty('images')" src= "../assets/mushroom.png" >
    
              <ion-card-header *ngIf= "video.ad.hasOwnProperty('subject')">
                {{video.ad.subject}}
              </ion-card-header>
              <ion-card-content>
                <p *ngIf ="video.ad.hasOwnProperty('list_price')" > {{video.ad.list_price.label}}</p>
                <p *ngIf = "video.ad.hasOwnProperty('locations')">{{video.ad.locations[0].locations[0].label}}, {{video.ad.locations[0].label}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
